# ERP Configuration
NEXT_PUBLIC_ERP_URL=https://erp.wgroup.vn
NEXT_PUBLIC_ERP_API_ENDPOINT=/jsonrpc
NEXT_PUBLIC_ODOO_DB=erp

# Database
ERP_DB_HOST=localhost
ERP_DB_PORT=5432
ERP_DB_NAME=
ERP_DB_USER=
ERP_DB_PASSWORD=